/* General layout and typography */
.ui-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    font-family: "Poppins", sans-serif;
}

.ui-heading {
    text-align: center;
    font-size: 32px;
    color: #3a86ff;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

/* Form and input styles */
.ui-input-group {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.ui-input {
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #bbb;
    flex: 1;
    font-size: 16px;
    transition: all 0.3s ease;
}

.ui-input:focus {
    border-color: #3a86ff;
    box-shadow: 0 0 8px rgba(58, 134, 255, 0.3);
}

/* Button styles */
.ui-button-add,
.ui-button-update {
    padding: 14px 30px;
    border-radius: 12px;
    background-color: #3a86ff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ui-button-add:hover,
.ui-button-update:hover {
    background-color: #005ecb;
    transform: translateY(-3px);
}

/* Search input styling */
.ui-search {
    margin: 30px 0;
}

.ui-input-search {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #bbb;
    font-size: 16px;
    transition: all 0.3s ease;
}

.ui-input-search:focus {
    border-color: #3a86ff;
    box-shadow: 0 0 8px rgba(58, 134, 255, 0.3);
}

/* Subheading styles */
.ui-subheading {
    font-size: 26px;
    color: #3a86ff;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Table styles */
.ui-table-container {
    overflow-x: auto;
}

.ui-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.ui-table th,
.ui-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

.ui-table th {
    background-color: #3a86ff;
    color: white;
    font-weight: bold;
}

.ui-table tr:hover {
    background-color: #f1f8e9;
}

/* Button styles in data table */
.ui-table button {
    background: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 8px;
    transition: all 0.3s ease;
    outline: none;
}

/* Edit button */
.ui-button-edit {
    /* background: linear-gradient(45deg, #3a86ff, #5bc0eb); */
    background: linear-gradient(45deg, #f45d5d, #f5853f) !important;
    color: white;
}

.ui-button-edit:hover {
    background: linear-gradient(45deg, #2a6dc2, #49a8da) !important;
}

/* Delete button */
.ui-button-delete {
    /* background: linear-gradient(45deg, #f45d5d, #f5853f); */
    background: linear-gradient(45deg, #3a86ff, #5bc0eb) !important;
    color: white;
}

.ui-button-delete:hover {
    background: linear-gradient(45deg, #e74c3c, #e67e22) !important;
}